@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');
h1{
    font-family: 'Pacifico', cursive;
    font-size: 48px;
}
h2{
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}
h3{
    font-family: 'Pacifico', cursive;
}
.foodname{
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    font-size: 26px;
}
.longtext{
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
}
.color-2 {color: #f2aab4;}
