@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');
h1{
    font-family: 'Pacifico', cursive;
    font-size: 65px;
    text-align: center;
}
h2{
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}
h3{
    font-family: 'Pacifico', cursive;
}
.foodtype{
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: #f2aab4 ;
}
.foodname{
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    font-size: 30px;
}
.longtext{
    font-family: 'Arimo', sans-serif;
    font-size: 15px;
}
.introtext{
        font-family: 'Arimo', sans-serif;
        font-size: 15px;
        padding-left: 25px;
        padding-right: 25px;
}
.color-2 
{color: #f2aab4;}
ul{
    padding-left: 2rem;
    list-style-type: none;
  }
li{
    padding-left: 2rem;
    list-style-type: none;
}
.button{
    background-color:  #f2aab4; 
    color: white ;
    text-decoration: none ;
    padding: 10px ;
    border: 3px solid #000000 ;
    margin:auto ;
    text-align: center ;
    display: block ;
    width: 25% ;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}
td{
    vertical-align: top; 
    width: 50% ;
    padding-left: 80px ;
    padding-right: 80px;
    text-align: center;
}
th{
    text-align: center;
}
.foodimage{
    width: 50%;
    height: auto;
    margin: auto;
}
.aboutmeimage{
    width: 25% ;
    height: auto ;
}
.contactimage{
    width:50% ;
    height: auto; 
    margin: auto; 
}
.aboutmewords{
    vertical-align: center;
    text-align: center;
    color:#f2aab4; 
    font-family: 'Arimo', sans-serif;
    font-size: 20px ;
    padding-left: 250px;
    padding-right: 250px;
}
@media (prefers-color-scheme: dark){
	body{
		background-color: black;
		color: white;
    }
    a{
        color:thistle;
    }
    a{
        color:violet; 
    }
.formpadding{
        padding-left: 150px;
        padding-right: 150px;
        font-family: 'Arimo', sans-serif;
        text-align: left;
}
