@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
h1{
    font-family: 'Pacifico', cursive;
    font-size: 48px;
}
h2{
    font-family: 'Pacifico', cursive;
    font-size: 24px;
}
h3{
    font-family: 'Pacifico', cursive;
}
.foodname {
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    font-size: 18px;
}
.Ingredients
    font-family: 'Dancing Script', cursive;
    font-size: 15px;

.color-2 {color: #f2aab4;}
